---
import Layout from "@layouts/Layout.astro"
import Header from "@components/Header.astro"
import ProductSlider from "@components/ProductSlider.astro"
---

<Layout title="Socks Style">
	<Header />
	<div class="bg-emerald-200 h-96 my-8">imagen</div>
	<ProductSlider title="Novedades" />
	<ProductSlider title="Novedades" />
	<footer class="h-48">Footer</footer>
</Layout>
