---
import HeartSolid from "@icons/Heart-solid.astro";
import ShoppingBag from "@icons/Shopping-bag.astro";
---

<h1 class="bg-primary text-center text-3xl p-4">Socks Style</h1>
<div class="bg-primary sticky top-0 p-4">
	<div class="container mx-auto flex justify-between items-center">

		<nav class="space-x-4">
			<a href="/productos">Productos</a>
			<a href="/ayuda">Como comprar</a>
			<a href="/nosotras">Sobre nosotras</a>
		</nav>
		<nav class="flex gap-4">
			<a href="">
				<HeartSolid class="size-8" />
			</a>
			<button>
				<ShoppingBag class="size-8" />
			</button>
		</nav>
	</div>
</div>
